@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+KR&display=swap');

.main{
    width: 350px;               /* 幅指定 */
    height: 90px;               /* 高さ指定 */
    position: relative;         /* 位置指定の基準点にする */
    position: absolute;          /* x軸中央 */
    top:  0;                     /* x軸中央 */
    bottom:  0;                  /* y軸中央 */
    left:  0;                    /* y軸中央 */
    right:  0;                   /* y軸中央 */
    margin:  auto;               /* 中央寄せ */
}

body{
    background-image: linear-gradient(to right, #f1baff 0%, #bd5ce4 100%);
}

a{
    text-decoration:none;
    display: block;
}

.image{
    width: 25px;
    display: flex;
    margin-left: 250px;
    gap: 10px;
}

.socialmedia{
    width: 25px;
    height: 25px;
    letter-spacing: 6px;
    fill: rgb(255, 255, 255);
}

.text{
    color: rgb(255, 255, 255);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#sushiya{
    font-size: 25px;
}

#sushiyaABC{
    font-size: 17px;
}

hr{
    width: 350px;
    height: 2px;
    border: none;
    border-radius:1px;
    background-color: rgb(255, 255, 255);
}