@charset "utf-8";
body{
    background-image: linear-gradient(to right, #f1baff 0%, #bd5ce4 100%);
    
}

.main{
    width: 350px;               /* 幅指定 */
    height: 90px;               /* 高さ指定 */
    position: relative;         /* 位置指定の基準点にする */
    position: absolute;          /* 位置指定 */
    top:  0;                     /* 位置指定 */
    bottom:  0;                  /* 位置指定 */
    left:  0;                    /* 位置指定 */
    right:  0;                   /* 位置指定 */
    margin:  auto;               /* 中央寄せ */
}
.image{
    letter-spacing: 6px;
    text-align: right;
    
}
.text{
    text-size-adjust: 230px;
    text-align: left;
    font-family: Inter,sans-serif;
}
hr{
    border: none;
	border-top: solid 1px rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    width: 350px;
}
#sushiya{
    font-size: 22px;
}
